<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Regex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">
  </head>
  <body>
    <div class="topnav">
      <h1>Regex App</h1>
      <a href="email_validation" target="_blank">Email Validation</a>
    </div>
    <hr>
    <div class="total">
    <div class='main'>
      <form action="/email_validation" method="post">
        <label for="re">Enter a Email address</label><br>
        <input type="text" id="email" name="email" placeholder="enter a email address here" value="{{res_mail}}"><br><br>

        <button id='btn1' type="submit">Check</button>
      </form>
          <h2>Result</h2>
          {% if validity %}
              <p>{{ res_mail }} is a valid email address!</p>
          {% else %}
              <p>{{ res_mail }} is not a valid email address.</p>
          {% endif %}
    
      
    
  
  </div>
  </body>
</html>